html {
  height: 100%;
}

body {
  min-height: 100%;
}

body {
    font-family: 'cantarell', 'sans-serif';
}

.site-navigation {
    display: flex;
    justify-content: space-around;
    margin: 0 20%;
    padding-bottom: 2.5%;
}

.site-navigation div {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 2.5rem;
  
}

.navigation-link {
    padding-left: 10%;
    padding-right: 10%;
        text-decoration: none;
    color: #444;
}

.navigation-link:hover {
    text-decoration: none;
    color: #999;
}

.selected-navigation-link:hover {
    text-decoration: underline;
}

.selected-navigation-link {
    text-decoration: underline;
}

.website-title, .website-subtitle {
    margin: 0;
    text-align: center;
}

.website-title  a:hover {
     color: #999;
     text-decoration:none;
}
.website-title  a {
     color: #444;
     text-decoration:none;
}

.website-title {
  
        font-family: 'Open Sans', 'sans-serif';
        padding-top: 5%;
    font-weight: 700;
    font-size: 4.5rem;
    color: #444;
}

.website-subtitle {
        padding-bottom: 1%;
      
            font-family: 'Merriweather', 'serif';
    font-size: 1.9rem;
    color: #999;
}

.social-media {
     padding-bottom: 2.5%;
    text-align: center;
}

.social-media-icon {
    display: inline-block;
    font-size: 1.75em !important;
}

.header-container {
 background-color: #efefef;
 height: 20%;
 width: 100%;
 }

.social-media ul {
    padding: 0;
      display: inline-block;
}

.no-touch .social-media li {
    overflow: hidden;
    background: #fff;
    list-style: none;
    white-space: nowrap;
    margin-right: 5px;
    border-radius: 25px;
    display: inline-block;
}
  .no-touch  .social-media  li a {
        opacity: 0;
        color: #666;
        max-width: 0;
        display: inline-block;
        text-decoration: none;
        transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color;
    }
      .no-touch  .social-media  li a:hover {
            color: #c33;
        }
      .no-touch  .social-media  li a i {
            float:right;
            display: block;
            padding-right: 1em;
            font:1em/1 'rokkitt', sans-serif;
        }
  .no-touch  .social-media  li .social-media-icon {
        color: #c33;
        line-height:1;
        font-size: 25px;
        display: inline-block;
        padding-top: .125em;
        padding-bottom :.125em;
        padding-left: .35em;
        padding-right: .2em;
    }

.no-touch .social-media  li:hover a {
            opacity: 1;
            max-width: 150px;
            transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color .2s;
        }

       
