body {
    font-family: 'cantarell', 'serif';
}

h1 {
    font-family: 'cantarell', 'serif';
}

.social-media-icon {
    font-size: 1.75em !important;
}

.icon-link {
    margin-right: 3px;
}

.icon-link-a {
    margin-right: 5px;
}