---
layout: default
title: Evan's Blog
---

<!-- This loops through the paginated posts -->

{% for post in paginator.posts %}
<div class="blog-post">
  <br>
  {% include post_snippet.html %}
</div>
{% endfor %}

<br>

  
<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% endif %}
    <span class="page-number ">Page {{ paginator.page }} {% if paginator.total_pages > 1 %} of {{ paginator.total_pages }} {% endif %}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% endif %}
</div>
{% endif %}
