---
layout: default
title: Evan's Blog
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  
  <div class="content">
    {{ post.content }}
  </div>

  <p class="author">
    <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
  </p>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.total_pages > 1 %}
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% endif %}
    {% endif %}
    <span class="page-number ">Page {{ paginator.page }} {% if paginator.total_pages > 1 %} of {{ paginator.total_pages }} {% endif %}</span>
    {% if paginator.total_pages > 1 %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% endif %}
  {% endif %}
</div>
