<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Merriweather|Open+Sans" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

<body>
    <header class="header-container">
        <h1 class="website-title"><a href="/">evan welsh</a></h1>
        <h3 class="website-subtitle">Developer. Designer. Nerd.</h3>
        <div class="social-media">
            <ul>
                <li>
                    <i class="social-media-icon fa fa-envelope icon-link"></i>
                    <a href="mailto:contact@evanwelsh.com" class="icon-link-a"><i>email</i></a>
                </li>
                <li>
                    <i class="social-media-icon fa fa-github icon-link"></i>
                    <a href="http://github.com/rockon999/" class="icon-link-a"><i>github</i></a>
                </li>
            </ul>
        </div>
        <div class="site-navigation">
                <div>            
                    {% if page.url == "/" %}  
                    <a href="/" class="selected-navigation-link navigation-link">Home</a>
               {% else %}
               <a href="/" class="navigation-link">Home</a>
               {% endif %}
                </div>
                <div>             
                   {% if page.url contains "/blog/" %}  
                    <a href="/blog/" class="selected-navigation-link navigation-link">Blog</a>
               {% else %}
               <a href="/blog/" class="navigation-link">Blog</a>
               {% endif %}
                </div>
                <div>             
                     {% if page.url == "/projects" %}  
                    <a href="/projects" class="selected-navigation-link navigation-link">Projects</a>
               {% else %}
               <a href="/projects" class="navigation-link">Projects</a>
               {% endif %}
                </div>
               <!-- <div>
                     {% if page.url == "/about" %}  
                    <a href="/about" class="selected-navigation-link navigation-link">About</a>
               {% else %}
               <a href="/about" class="navigation-link">About</a>
               {% endif %}
                </div>-->
            </ul>
        </div>
    </header>


    <div class="container">
        {{ content }}
    </div>



</body>

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>

</html>
