<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>

<body>
    <nav class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/">Home</a></li>
            <li class="pure-menu-item"><a href="/blog/">Blog</a></li>
            <li class="pure-menu-item"><a href="/projects">Projects</a></li>
            <li class="pure-menu-item"><a href="/evancanfixit">EvanCanFixIt</a></li>
        </ul>
    </nav>
    <div class="container">

        {{ content }}

    </div>
    <!-- /.container -->
    <footer class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="mailto:contact@evanwelsh.com">email</a></li>
            <li class="pure-menu-item"><a href="https://github.com/rockon999">github</a></li>
        </ul>
    </footer>
</body>

</html>